.App {
  text-align: center;
  align-items: flex-start;
  /* background-color: #ffffff; */
  border: 1px none;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-height: 1080px;
  min-width: 320px;
  position: relative;
  margin: 0 auto;
  font-family: "omyu_pretty";
}

:root {
  --vh: 100%;
  height: calc(var(--vh, 1vh) * 100);
}
